@import "../../app/variables.module.scss";

.container {
  display: flex;
  flex-direction: column;
  padding: 5em;
}

.container form {
  padding: 1em;
  background: $background-color;
}

.container textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container input[type="submit"] {
  display: block;
  margin-top: 20px;
  background-color: #e74c3c;
  color: $text-white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.comment {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1em;
}
